.thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  width: 8px;
  margin-top: 0px;
  background-color: #fff;
  border-radius: 50%;
}

.thumb::-moz-range-thumb {
  border: none;
  height: 8px;
  width: 8px;
  margin-top: 0px;
  background-color: #fff;
  border-radius: 50%;
}
