.thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  height: 10px;
}

.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.thumb::-moz-range-thumb {
  border: none;
}
